<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.89.4</version>
  <installState class="jenkins.install.InstallState$5">
    <isSetupComplete>true</isSetupComplete>
    <name>RESTART</name>
  </installState>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:developer-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:developer-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:developer-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:developer-admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseItem:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseOwn:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:admin</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:developer-admin</permission>
    <permission>hudson.model.Computer.Build:admin</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:developer-admin</permission>
    <permission>hudson.model.Computer.Connect:admin</permission>
    <permission>hudson.model.Computer.Create:admin</permission>
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Computer.Delete:developer-admin</permission>
    <permission>hudson.model.Computer.Disconnect:admin</permission>
    <permission>hudson.model.Computer.ExtendedRead:admin</permission>
    <permission>hudson.model.Computer.Provision:admin</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
    <permission>hudson.model.Hudson.Administer:developer-admin</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:admin</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.Hudson.Read:developer-admin</permission>
    <permission>hudson.model.Hudson.RunScripts:admin</permission>
    <permission>hudson.model.Hudson.RunScripts:developer-admin</permission>
    <permission>hudson.model.Hudson.UploadPlugins:admin</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Item.Build:developer-admin</permission>
    <permission>hudson.model.Item.Cancel:admin</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Configure:developer-admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.Item.Create:developer-admin</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.Item.Delete:developer-admin</permission>
    <permission>hudson.model.Item.Discover:admin</permission>
    <permission>hudson.model.Item.Discover:developer-admin</permission>
    <permission>hudson.model.Item.ExtendedRead:admin</permission>
    <permission>hudson.model.Item.Move:admin</permission>
    <permission>hudson.model.Item.Read:admin</permission>
    <permission>hudson.model.Item.Read:developer-admin</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Workspace:developer-admin</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Run.Delete:developer-admin</permission>
    <permission>hudson.model.Run.Replay:admin</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.model.Run.Update:developer-admin</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.View.Configure:developer-admin</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.View.Create:developer-admin</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.View.Delete:developer-admin</permission>
    <permission>hudson.model.View.Read:admin</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.scm.SCM.Tag:developer-admin</permission>
    <permission>hudson.security.Permission.FullControl:admin</permission>
    <permission>hudson.security.Permission.GenericConfigure:admin</permission>
    <permission>hudson.security.Permission.GenericCreate:admin</permission>
    <permission>hudson.security.Permission.GenericDelete:admin</permission>
    <permission>hudson.security.Permission.GenericRead:admin</permission>
    <permission>hudson.security.Permission.GenericUpdate:admin</permission>
    <permission>hudson.security.Permission.GenericWrite:admin</permission>
  </authorizationStrategy>
  <securityRealm class="org.openshift.jenkins.plugins.openshiftlogin.OpenShiftOAuth2SecurityRealm" plugin="openshift-login@1.0.5">
    <transport class="com.google.api.client.http.javanet.NetHttpTransport">
      <connectionFactory class="com.google.api.client.http.javanet.DefaultConnectionFactory"/>
      <sslSocketFactory class="sun.security.ssl.SSLSocketFactoryImpl">
        <context class="sun.security.ssl.SSLContextImpl$TLSContext">
          <ephemeralKeyManager>
            <keys>
              <sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
                <uses>0</uses>
                <expirationTime>1522876976066</expirationTime>
              </sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
              <sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
                <uses>0</uses>
                <expirationTime>1522876976066</expirationTime>
              </sun.security.ssl.EphemeralKeyManager_-EphemeralKeyPair>
            </keys>
          </ephemeralKeyManager>
          <clientCache>
            <sessionCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionCache>
            <sessionHostPortCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionHostPortCache>
            <cacheLimit>0</cacheLimit>
            <timeout>86400</timeout>
          </clientCache>
          <serverCache>
            <sessionCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionCache>
            <sessionHostPortCache class="sun.security.util.MemoryCache">
              <cacheMap class="linked-hash-map"/>
              <maxSize>0</maxSize>
              <lifetime>86400000</lifetime>
              <queue>
                <lock/>
                <queueLength>0</queueLength>
              </queue>
            </sessionHostPortCache>
            <cacheLimit>0</cacheLimit>
            <timeout>86400</timeout>
          </serverCache>
          <isInitialized>true</isInitialized>
          <keyManager class="sun.security.ssl.DummyX509KeyManager"/>
          <trustManager class="sun.security.ssl.X509TrustManagerImpl">
            <validatorType>PKIX</validatorType>
            <trustedCerts class="set">
              <sun.security.x509.X509CertImpl resolves-to="java.security.cert.Certificate$CertificateRep">
                <type>X.509</type>
                <data>MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2ln
bmVyQDE1MjEwNjYxOTMwHhcNMTgwMzE0MjIyMzEyWhcNMjMwMzEzMjIyMzEzWjAmMSQwIgYDVQQD
DBtvcGVuc2hpZnQtc2lnbmVyQDE1MjEwNjYxOTMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
AoIBAQDJwbZcOyymV1rWYKdI5USis0JbNwLSoljxvy/6krvu/c3AHcEF8vxsgF9fvwghue0Qx8cO
vwV/xRWje8eRxH3SlpxaPKtzd/Cj+f+P8y4QHanDQC0II33DNDBuIntJBgm7voett0aIk9HdTCvE
fzsS6G9jWmURrIaWrIX5DiA6GeRrikeiW4lQh9Z46YAeRzqumXEFcjpkQd7f3DjlTvBdGETA4Cxo
beU8NQOEMVRYlJARkNgBYnrYmadUA4Ibsa0anfJq/Rhf59WoDM/Ce5QuRjZOwU184MgwZZgxAs/r
inKgG6vY0p9FCEfDJOOxqwFx2ZYMg1EpTaUxH51LUk97AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwIC
pDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCmt067tXc3nEBc1ssbDBmAfwly
cHFd+xlpI0jTe62nn499tijFcyGP8vPXcVp4ZVWu1ztfX5udXHnv7CwR4RlKJBhosKAsRecyouU9
6bnvQYokgrO6JMj7WJn7CBMinZ4V/cuVjrpBRUEPPgtW3D4TrF6RlvvkaedA27rwNOL22rmkIis+
/RbDawZQWkJTOh/P3KuP9ZoTpy7K8RTS5EENHgS113rFqz3RNkmsLwHiSGvE8dKQz79cgu6QDefz
GDS6DZXo0cxjAOwgdlPcZT2wL5nqA22GVB0mJyw/Fno2ivFbACnjrHuTGLenheLASgz+1yT95WOF
gf1/wFIa8lD0</data>
              </sun.security.x509.X509CertImpl>
            </trustedCerts>
            <serverValidator class="sun.security.validator.PKIXValidator">
              <endEntityChecker>
                <variant>tls server</variant>
                <type>PKIX</type>
              </endEntityChecker>
              <variant>tls server</variant>
              <trustedCerts reference="../../trustedCerts"/>
              <parameterTemplate>
                <unmodTrustAnchors class="java.util.Collections$UnmodifiableSet">
                  <c class="set">
                    <java.security.cert.TrustAnchor>
                      <trustedCert class="sun.security.x509.X509CertImpl" reference="../../../../../../trustedCerts/sun.security.x509.X509CertImpl"/>
                    </java.security.cert.TrustAnchor>
                  </c>
                </unmodTrustAnchors>
                <certPathCheckers/>
                <revocationEnabled>false</revocationEnabled>
                <unmodInitialPolicies class="empty-set"/>
                <explicitPolicyRequired>false</explicitPolicyRequired>
                <policyMappingInhibited>false</policyMappingInhibited>
                <anyPolicyInhibited>false</anyPolicyInhibited>
                <policyQualifiersRejected>true</policyQualifiersRejected>
                <certStores/>
                <maxPathLength>5</maxPathLength>
              </parameterTemplate>
              <certPathLength>1</certPathLength>
              <trustedSubjects>
                <entry>
                  <javax.security.auth.x500.X500Principal serialization="custom">
                    <javax.security.auth.x500.X500Principal>
                      <byte-array>MCYxJDAiBgNVBAMMG29wZW5zaGlmdC1zaWduZXJAMTUyMTA2NjE5Mw==</byte-array>
                    </javax.security.auth.x500.X500Principal>
                  </javax.security.auth.x500.X500Principal>
                  <list>
                    <sun.security.rsa.RSAPublicKeyImpl resolves-to="java.security.KeyRep">
                      <type>PUBLIC</type>
                      <algorithm>RSA</algorithm>
                      <format>X.509</format>
                      <encoded>MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAycG2XDssplda1mCnSOVEorNCWzcC0qJY
8b8v+pK77v3NwB3BBfL8bIBfX78IIbntEMfHDr8Ff8UVo3vHkcR90pacWjyrc3fwo/n/j/MuEB2p
w0AtCCN9wzQwbiJ7SQYJu76HrbdGiJPR3UwrxH87EuhvY1plEayGlqyF+Q4gOhnka4pHoluJUIfW
eOmAHkc6rplxBXI6ZEHe39w45U7wXRhEwOAsaG3lPDUDhDFUWJSQEZDYAWJ62JmnVAOCG7GtGp3y
av0YX+fVqAzPwnuULkY2TsFNfODIMGWYMQLP64pyoBur2NKfRQhHwyTjsasBcdmWDINRKU2lMR+d
S1JPewIDAQAB</encoded>
                    </sun.security.rsa.RSAPublicKeyImpl>
                  </list>
                </entry>
              </trustedSubjects>
              <factory>
                <type>X.509</type>
                <provider class="sun.security.provider.Sun" serialization="custom">
                  <unserializable-parents/>
                  <hashtable>
                    <default>
                      <loadFactor>0.75</loadFactor>
                      <threshold>143</threshold>
                    </default>
                    <int>191</int>
                    <int>100</int>
                    <string>Alg.Alias.Signature.1.2.840.10040.4.3</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.Signature.SHA1/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.Signature.DSS</string>
                    <string>SHA1withDSA</string>
                    <string>SecureRandom.SHA1PRNG ImplementedIn</string>
                    <string>Software</string>
                    <string>KeyStore.JKS</string>
                    <string>sun.security.provider.JavaKeyStore$DualFormatJKS</string>
                    <string>MessageDigest.SHA</string>
                    <string>sun.security.provider.SHA</string>
                    <string>Alg.Alias.MessageDigest.SHA-1</string>
                    <string>SHA</string>
                    <string>KeyStore.CaseExactJKS</string>
                    <string>sun.security.provider.JavaKeyStore$CaseExactJKS</string>
                    <string>CertStore.com.sun.security.IndexedCollection ImplementedIn</string>
                    <string>Software</string>
                    <string>Signature.SHA256withDSA</string>
                    <string>sun.security.provider.DSA$SHA256withDSA</string>
                    <string>Alg.Alias.MessageDigest.OID.1.3.14.3.2.26</string>
                    <string>SHA</string>
                    <string>Alg.Alias.Signature.DSA</string>
                    <string>SHA1withDSA</string>
                    <string>KeyFactory.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>KeyStore.JKS ImplementedIn</string>
                    <string>Software</string>
                    <string>AlgorithmParameters.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>Signature.NONEwithDSA</string>
                    <string>sun.security.provider.DSA$RawDSA</string>
                    <string>Alg.Alias.CertificateFactory.X509</string>
                    <string>X.509</string>
                    <string>Signature.SHA256withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>CertStore.com.sun.security.IndexedCollection</string>
                    <string>sun.security.provider.certpath.IndexedCollectionCertStore</string>
                    <string>Provider.id className</string>
                    <string>sun.security.provider.Sun</string>
                    <string>Alg.Alias.MessageDigest.1.3.14.3.2.26</string>
                    <string>SHA</string>
                    <string>Alg.Alias.Signature.SHA-1/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>KeyStore.DKS</string>
                    <string>sun.security.provider.DomainKeyStore$DKS</string>
                    <string>Alg.Alias.Signature.OID.2.16.840.1.101.3.4.3.2</string>
                    <string>SHA256withDSA</string>
                    <string>CertificateFactory.X.509 ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.OID.2.16.840.1.101.3.4.3.1</string>
                    <string>SHA224withDSA</string>
                    <string>Signature.SHA1withDSA KeySize</string>
                    <string>1024</string>
                    <string>Signature.NONEwithDSA KeySize</string>
                    <string>1024</string>
                    <string>KeyFactory.DSA</string>
                    <string>sun.security.provider.DSAKeyFactory</string>
                    <string>CertPathValidator.PKIX ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.OID.1.2.840.10040.4.3</string>
                    <string>SHA1withDSA</string>
                    <string>Configuration.JavaLoginConfig</string>
                    <string>sun.security.provider.ConfigFile$Spi</string>
                    <string>Alg.Alias.KeyFactory.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.4</string>
                    <string>SHA-224</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.3</string>
                    <string>SHA-512</string>
                    <string>MessageDigest.MD5 ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.2</string>
                    <string>SHA-384</string>
                    <string>Alg.Alias.MessageDigest.OID.2.16.840.1.101.3.4.2.1</string>
                    <string>SHA-256</string>
                    <string>Provider.id name</string>
                    <string>SUN</string>
                    <string>Alg.Alias.Signature.RawDSA</string>
                    <string>NONEwithDSA</string>
                    <string>Alg.Alias.AlgorithmParameters.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>CertPathBuilder.PKIX ValidationAlgorithm</string>
                    <string>RFC3280</string>
                    <string>Policy.JavaPolicy</string>
                    <string>sun.security.provider.PolicySpiFile</string>
                    <string>Alg.Alias.AlgorithmParameters.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Signature.SHA224withDSA KeySize</string>
                    <string>2048</string>
                    <string>MessageDigest.SHA-384</string>
                    <string>sun.security.provider.SHA5$SHA384</string>
                    <string>Alg.Alias.KeyPairGenerator.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>Alg.Alias.Signature.SHA/DSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.AlgorithmParameters.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>MessageDigest.SHA-224</string>
                    <string>sun.security.provider.SHA2$SHA224</string>
                    <string>Signature.SHA1withDSA ImplementedIn</string>
                    <string>Software</string>
                    <string>AlgorithmParameterGenerator.DSA</string>
                    <string>sun.security.provider.DSAParameterGenerator</string>
                    <string>Signature.NONEwithDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>SecureRandom.NativePRNGBlocking</string>
                    <string>sun.security.provider.NativePRNG$Blocking</string>
                    <string>MessageDigest.SHA-512</string>
                    <string>sun.security.provider.SHA5$SHA512</string>
                    <string>Alg.Alias.KeyFactory.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>CertPathBuilder.PKIX</string>
                    <string>sun.security.provider.certpath.SunCertPathBuilder</string>
                    <string>Alg.Alias.Signature.1.3.14.3.2.27</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.4</string>
                    <string>SHA-224</string>
                    <string>Provider.id version</string>
                    <string>1.8</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.3</string>
                    <string>SHA-512</string>
                    <string>CertPathBuilder.PKIX ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.2</string>
                    <string>SHA-384</string>
                    <string>Alg.Alias.MessageDigest.2.16.840.1.101.3.4.2.1</string>
                    <string>SHA-256</string>
                    <string>Signature.SHA256withDSA KeySize</string>
                    <string>2048</string>
                    <string>AlgorithmParameters.DSA</string>
                    <string>sun.security.provider.DSAParameters</string>
                    <string>Signature.SHA1withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>CertStore.Collection</string>
                    <string>sun.security.provider.certpath.CollectionCertStore</string>
                    <string>AlgorithmParameterGenerator.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>SecureRandom.NativePRNGNonBlocking</string>
                    <string>sun.security.provider.NativePRNG$NonBlocking</string>
                    <string>KeyPairGenerator.DSA KeySize</string>
                    <string>2048</string>
                    <string>CertStore.LDAP</string>
                    <string>sun.security.provider.certpath.ldap.LDAPCertStore</string>
                    <string>Alg.Alias.Signature.2.16.840.1.101.3.4.3.2</string>
                    <string>SHA256withDSA</string>
                    <string>CertificateFactory.X.509</string>
                    <string>sun.security.provider.X509Factory</string>
                    <string>Alg.Alias.Signature.2.16.840.1.101.3.4.3.1</string>
                    <string>SHA224withDSA</string>
                    <string>SecureRandom.NativePRNG</string>
                    <string>sun.security.provider.NativePRNG</string>
                    <string>CertStore.LDAP LDAPSchema</string>
                    <string>RFC2587</string>
                    <string>KeyPairGenerator.DSA ImplementedIn</string>
                    <string>Software</string>
                    <string>CertStore.LDAP ImplementedIn</string>
                    <string>Software</string>
                    <string>CertPathValidator.PKIX ValidationAlgorithm</string>
                    <string>RFC3280</string>
                    <string>Signature.SHA224withDSA</string>
                    <string>sun.security.provider.DSA$SHA224withDSA</string>
                    <string>CertStore.Collection ImplementedIn</string>
                    <string>Software</string>
                    <string>Alg.Alias.Signature.1.3.14.3.2.13</string>
                    <string>SHA1withDSA</string>
                    <string>CertPathValidator.PKIX</string>
                    <string>sun.security.provider.certpath.PKIXCertPathValidator</string>
                    <string>Alg.Alias.MessageDigest.SHA1</string>
                    <string>SHA</string>
                    <string>AlgorithmParameterGenerator.DSA KeySize</string>
                    <string>2048</string>
                    <string>SecureRandom.SHA1PRNG</string>
                    <string>sun.security.provider.SecureRandom</string>
                    <string>Signature.SHA1withDSA</string>
                    <string>sun.security.provider.DSA$SHA1withDSA</string>
                    <string>Alg.Alias.KeyFactory.1.3.14.3.2.12</string>
                    <string>DSA</string>
                    <string>KeyPairGenerator.DSA</string>
                    <string>sun.security.provider.DSAKeyPairGenerator$Current</string>
                    <string>MessageDigest.SHA ImplementedIn</string>
                    <string>Software</string>
                    <string>Provider.id info</string>
                    <string>SUN (DSA key/parameter generation; DSA signing; SHA-1, MD5 digests; SecureRandom; X.509 certificates; JKS &amp; DKS keystores; PKIX CertPathValidator; PKIX CertPathBuilder; LDAP, Collection CertStores, JavaPolicy Policy; JavaLoginConfig Configuration)</string>
                    <string>Alg.Alias.KeyPairGenerator.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>MessageDigest.SHA-256</string>
                    <string>sun.security.provider.SHA2$SHA256</string>
                    <string>Alg.Alias.Signature.DSAWithSHA1</string>
                    <string>SHA1withDSA</string>
                    <string>MessageDigest.MD5</string>
                    <string>sun.security.provider.MD5</string>
                    <string>Alg.Alias.Signature.SHAwithDSA</string>
                    <string>SHA1withDSA</string>
                    <string>Alg.Alias.KeyPairGenerator.OID.1.2.840.10040.4.1</string>
                    <string>DSA</string>
                    <string>Signature.SHA224withDSA SupportedKeyClasses</string>
                    <string>java.security.interfaces.DSAPublicKey|java.security.interfaces.DSAPrivateKey</string>
                    <string>MessageDigest.MD2</string>
                    <string>sun.security.provider.MD2</string>
                  </hashtable>
                  <java.security.Provider>
                    <default>
                      <version>1.8</version>
                      <info>SUN (DSA key/parameter generation; DSA signing; SHA-1, MD5 digests; SecureRandom; X.509 certificates; JKS &amp; DKS keystores; PKIX CertPathValidator; PKIX CertPathBuilder; LDAP, Collection CertStores, JavaPolicy Policy; JavaLoginConfig Configuration)</info>
                      <name>SUN</name>
                    </default>
                  </java.security.Provider>
                </provider>
                <certFacSpi class="sun.security.provider.X509Factory"/>
              </factory>
              <plugin>false</plugin>
            </serverValidator>
          </trustManager>
          <secureRandom serialization="custom">
            <java.util.Random>
              <default>
                <seed>0</seed>
                <nextNextGaussian>0.0</nextNextGaussian>
                <haveNextNextGaussian>false</haveNextNextGaussian>
              </default>
            </java.util.Random>
            <java.security.SecureRandom>
              <default>
                <counter>0</counter>
                <randomBytesUsed>0</randomBytesUsed>
                <algorithm>NativePRNG</algorithm>
                <provider class="sun.security.provider.Sun" reference="../../../../trustManager/serverValidator/factory/provider"/>
                <secureRandomSpi class="sun.security.provider.NativePRNG"/>
              </default>
            </java.security.SecureRandom>
          </secureRandom>
        </context>
      </sslSocketFactory>
    </transport>
    <defaultedServiceAccountDirectory>/run/secrets/kubernetes.io/serviceaccount</defaultedServiceAccountDirectory>
    <defaultedServiceAccountName>jenkins</defaultedServiceAccountName>
    <defaultedServerPrefix>https://openshift.default.svc</defaultedServerPrefix>
    <defaultedRedirectURL>https://192.168.64.4:8443</defaultedRedirectURL>
    <defaultedClientId>system:serviceaccount:custom-jenkins-image:jenkins</defaultedClientId>
    <defaultedClientSecret>eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJjdXN0b20tamVua2lucy1pbWFnZSIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VjcmV0Lm5hbWUiOiJqZW5raW5zLXRva2VuLW1uN2Q4Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6ImplbmtpbnMiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlcnZpY2UtYWNjb3VudC51aWQiOiIwYjNkNTc5MS0yYTg2LTExZTgtOWMwMC0xMmNlN2I2MTIwNDUiLCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6Y3VzdG9tLWplbmtpbnMtaW1hZ2U6amVua2lucyJ9.VK0U-3KQdzCnmRVijHw-6q2Mr8dgEnHgjxV0gcym2orU1ZZWT1w_QVagDyAf_sI5vUHMDs91BmRfMw40oG6NnZ7SW1yTztwrEVcgp4thNU2sETHHun_ElV-8IQwrJ_FF5a6lRTbW2-b4ttJElTkFSA3k0upToaZ2OUcQzTarzRm7pZd1r_Ye_6h2WIl6K_XiMkm_-FEyFIYRutxcHNOuJandPVEqPVr5oyuekSRvi8jU44D5ZNPOOgrJ5D6laU3l1ZaBW5PNtJNSIGikMMwlV12uRfcEYdDaq9RUOTY7fF8K1KJhpZtzM4iDMHvjFi2ZiGL1vhqFammK7BdzFJ_cQg</defaultedClientSecret>
    <namespace>custom-jenkins-image</namespace>
    <provider>
      <issuer>https://192.168.64.4:8443</issuer>
      <authorization__endpoint>https://192.168.64.4:8443/oauth/authorize</authorization__endpoint>
      <token__endpoint>https://192.168.64.4:8443/oauth/token</token__endpoint>
    </provider>
    <filter/>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.2">
      <name>openshift</name>
      <defaultsProviderTemplate></defaultsProviderTemplate>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>maven</name>
          <namespace></namespace>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>maven</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <nodeUsageMode>NORMAL</nodeUsageMode>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-maven-35-centos7:v3.10</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>nodejs</name>
          <namespace></namespace>
          <privileged>false</privileged>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>100</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>nodejs</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <nodeUsageMode>NORMAL</nodeUsageMode>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <workspaceVolume class="org.csanchez.jenkins.plugins.kubernetes.volumes.workspace.EmptyDirWorkspaceVolume">
            <memory>false</memory>
          </workspaceVolume>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-nodejs-8-centos7:v3.10</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
              <ports/>
              <livenessProbe>
                <execArgs></execArgs>
                <timeoutSeconds>0</timeoutSeconds>
                <initialDelaySeconds>0</initialDelaySeconds>
                <failureThreshold>0</failureThreshold>
                <periodSeconds>0</periodSeconds>
                <successThreshold>0</successThreshold>
              </livenessProbe>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://172.30.0.1:443</serverUrl>
      <serverCertificate>-----BEGIN CERTIFICATE-----
MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVu
c2hpZnQtc2lnbmVyQDE1MjEwNjYxOTMwHhcNMTgwMzE0MjIyMzEyWhcNMjMwMzEz
MjIyMzEzWjAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2lnbmVyQDE1MjEwNjYxOTMw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDJwbZcOyymV1rWYKdI5USi
s0JbNwLSoljxvy/6krvu/c3AHcEF8vxsgF9fvwghue0Qx8cOvwV/xRWje8eRxH3S
lpxaPKtzd/Cj+f+P8y4QHanDQC0II33DNDBuIntJBgm7voett0aIk9HdTCvEfzsS
6G9jWmURrIaWrIX5DiA6GeRrikeiW4lQh9Z46YAeRzqumXEFcjpkQd7f3DjlTvBd
GETA4CxobeU8NQOEMVRYlJARkNgBYnrYmadUA4Ibsa0anfJq/Rhf59WoDM/Ce5Qu
RjZOwU184MgwZZgxAs/rinKgG6vY0p9FCEfDJOOxqwFx2ZYMg1EpTaUxH51LUk97
AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwICpDAPBgNVHRMBAf8EBTADAQH/MA0GCSqG
SIb3DQEBCwUAA4IBAQCmt067tXc3nEBc1ssbDBmAfwlycHFd+xlpI0jTe62nn499
tijFcyGP8vPXcVp4ZVWu1ztfX5udXHnv7CwR4RlKJBhosKAsRecyouU96bnvQYok
grO6JMj7WJn7CBMinZ4V/cuVjrpBRUEPPgtW3D4TrF6RlvvkaedA27rwNOL22rmk
Iis+/RbDawZQWkJTOh/P3KuP9ZoTpy7K8RTS5EENHgS113rFqz3RNkmsLwHiSGvE
8dKQz79cgu6QDefzGDS6DZXo0cxjAOwgdlPcZT2wL5nqA22GVB0mJyw/Fno2ivFb
ACnjrHuTGLenheLASgz+1yT95WOFgf1/wFIa8lD0
-----END CERTIFICATE-----</serverCertificate>
      <skipTlsVerify>false</skipTlsVerify>
      <namespace>custom-jenkins-image</namespace>
      <jenkinsUrl>http://172.30.176.240:80</jenkinsUrl>
      <jenkinsTunnel>172.30.23.3:50000</jenkinsTunnel>
      <containerCap>10</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>0</connectTimeout>
      <readTimeout>0</readTimeout>
      <maxRequestsPerHost>32</maxRequestsPerHost>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>